.product-card-heading {
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(35 60 123 / var(--tw-text-opacity));
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.product-card-subheading {
  color: #6a6a6a;
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: center;
  font-weight: 500;
}
