.student-card {
  padding: var(--defaultpadding);
  flex-wrap: wrap;
}

.student-card-img {
  width: 10rem;
}

.student-card-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #233c7b;
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.student-card-subheading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #454545;
}

.fz-3 {
  font-size: 3rem;
}
